* {
    box-sizing: border-box;
}

.example-1::before{
  content: "HELLO";
}

.example-1::after{
    content: "bye";
}
.example-2::before{
    content: "🦑";

    border: 5px solid palevioletred;
}
.example-2::after{
    content: "🌹";
}
.example-3::before{
    content: "~";
}
.example-3::after{
    content: "~";
}

[data-popover]{
    position: relative;
}

[data-popover]::after {
    content: attr(data-popover);
    box-shadow: 0 0 10px rgb(68, 66, 66);
    padding: 15px;
    border-radius: 10px;
    background-color: yellow;
    position: absolute;
    left: 0;
    top: 35px;

    display: none;
}
    [data-popover]:focus::after,
    [data-popover]:focus::before{
    display: block;
}

[data-popover]::before {
    content: " ";
    height: 10px;
    width: 20px;
    border-bottom: 10px solid yellow;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    position: absolute;
    top: 15px;
    left: 0;
    display: none;
}